@{
    ViewBag.Title = "Email confirmed!";
    ViewBag.Lead = "Thank you very much for your time.";
}

@Html.Partial("_Title")

<div>
    <p>
        Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
