
<h2>
    Email confirmed!
    <small>Thank you very much for your time.</small>
</h2>
<p>
    Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>
