@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h2>
    A confirmation token was sent to your email.
</h2>
<br/>

<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
