@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.Lead = "and have access to tons of fun!";
}

@Html.Partial("_Title")

<div class="row">
    <div class="col-md-6">
        @Html.Partial("_RegisterPartial", Model)
    </div>
    <div class="col-md-6">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
