@{
    ViewBag.Title = "Done!";
}

<h2>
    Done!
    <small>You can already log in with your new password.</small>
</h2>
<br/>

<div class="row">
    <div class="col-md-12">
        <p>
            Your password has been reset.
            Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
