@{
    ViewBag.Title = "Done!";
    ViewBag.Lead  = "You can already log in with your new password.";
}

@Html.Partial("_Title")

<div>
    <p>
        Your password has been reset.
        Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
