@model String

<div class="row">
    <div class="col-xs-6">
        @Html.Partial("_Search", @Model)
    </div>
    <div class="col-xs-6 text-right">
        <a href="@Url.Action("Create")" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Create
        </a>
    </div>
</div>
