@model Employee

@{
    ViewBag.Title = "Careful!";
    ViewBag.Lead = "you are about to delete " + Model.Email + " record.";
}

@Html.Partial("_Title")
@Html.Partial("_Profile", Model)

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_Confirm", "Confirm deletion")
    }
</div>
