@model Employee

@{
    ViewBag.Title = Model.Email;
    ViewBag.Lead  = "Employee's profile";
}
@Html.Partial("_ExtendedProfile", Model)

<div class="text-right">
    <a href="@Url.Action("Index")" class="btn btn-default">Back</a>
</div>
