@model Game

@section Scripts {
    @Scripts.Render("~/Scripts/app/elements/Carousel.js")
}

@Html.Partial("_ExtendedItem", Model)

<div class="text-right">
    <a href="@Url.Action("Index")" class="btn btn-default">Back</a>
</div>
