@model IEnumerable<Game>

@section scripts {
    @Scripts.Render("~/Scripts/app/ajax/search.js")
}

@Html.Partial("_Search", "/Games")

<div id="list-search">
    @Html.Partial("_List", Model)
</div>
