@model Player

@{
    ViewBag.Title = Model.Email;
    ViewBag.Lead  = "Player's profile";
}
@Html.Partial("_Title")
@Html.Partial("_ExtendedProfile", Model)

<div class="text-right">
    <a href="@Url.Action("Index")" class="btn btn-default">Back</a>
</div>
