@model IEnumerable<Player>

@{
    ViewBag.Title = "Players";
}

@section scripts {
    @Scripts.Render("~/Scripts/app/ajax/search.js")
}

@Html.Partial("_Search", "/Players")

<div id="list-search">
    @Html.Partial("_List", Model)
</div>
