@model IEnumerable<Terms>

@section scripts {
    @Scripts.Render("~/Scripts/app/ajax/search.js")
    @Scripts.Render("~/Scripts/app/elements/BtnSubmitter.js")
}

@{
    ViewBag.Title = "Terms and Conditions";
}

@(Html.Partial(User.IsInRole("admin") ? "_SearchCreate" : "_Search", "/Terms"))

<div id="list-search">
    @Html.Partial("_List", Model)
</div>
