@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employees";
}
@section scripts {
    @Scripts.Render("~/Scripts/app/ajax/search.js")
}

@(Html.Partial(User.IsInRole("admin") ? "_SearchCreate" : "_Search", "/Employees"))

<div id="list-search">
    @Html.Partial("_List", Model)
</div>
