@model String

<div class="form-group">
    <div class="col-md-offset-2 col-md-10 text-right">
        <a href="@Url.Action("Index")" class="btn btn-default">Back</a>
        <input type="submit" value="@Model" class="btn btn-primary" />
    </div>
</div>
