@model String

<div class="col-md-12">
    <div class="form-group text-right">
        <a href="@Url.Action("Index")" class="btn btn-default">Back</a>
        <input type="submit" value="@Model" class="btn btn-primary" />
    </div>
</div>
