@model String

<div class="form-group text-right">
    <a href="@Url.Action("Index")" class="btn btn-default" tabindex="0">
        <span class="glyphicon glyphicon-arrow-left"></span>
        back
    </a>
    <a id="btn-confirm" href="@Url.Action("Index")" class="btn btn-primary btn-submitter" tabindex="0">
        <span class="glyphicon glyphicon-ok"></span>
        @Model
    </a>
</div>
