@model IEnumerable<Payment>

@section scripts {
    @Scripts.Render("~/Scripts/app/ajax/search.js")
    @Scripts.Render("~/Scripts/app/elements/BtnSubmitter.js")
}

@Html.Partial("_Search", "/Payments")

<div id="list-search">
    @Html.Partial("_List", Model)
</div>
