@{
    ViewBag.Title = "Gamedalf";
    ViewBag.Lead = "Gamming platform";
}

@Html.Partial("_Title")


<div class="row">
    <div class="col-md-6">
        ..... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. .... ..... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. ......... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. .... ..... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. .... ..... .. . .. .. ......... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. ....    ..... .. . .. .. .... ..... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. .... ..... .. . .. .. .... ..... .. . .. .. .... <br />
        ..... .. . .. .. .... ..... .. . .. .. .... <br />
        ..... .. . .. .. .... ..... .. . .. .. .... <br />
    </div>
    <div class="col-md-6">
        ..... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. .... ..... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. ......... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. .... ..... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. .... ..... .. . .. .. ......... .. . .. .. .... ..... .. . .. .. ....
        ..... .. . .. .. .... 
        ..... .. . .. .. ....
        ..... .. . .. .. .... 
        ..... .. . .. .. ....
        ..... .. . .. .. .... 
        ..... .. . .. .. ....
        ..... .. . .. .. .... <br />
        ..... .. . .. .. .... 
        ..... .. . .. .. .... <br />
        ..... .. . .. .. .... 
        ..... .. . .. .. .... <br />
    </div>
</div>